.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.font-lawi {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 800;
}

.font-title {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700;
}

.font-body {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
}

.font-gray {
  color: #7b7b7b;
}

.team-position {
  @apply flex-none w-20 text-left text-gray-200;
}

.team-name {
  @apply flex-auto w-20 text-center;
}

.team-contact {
  @apply text-gray-500 hover:text-white text-right w-24 flex-none;
}

.team-holder {
  @apply flex;
}
